@media (max-width: 700px) {
  .footer_wrapper {
    flex-direction: column;
  }
  .footer_menu {
    margin-top: 20px;
    margin-left: 0;
    order: -1;
  }
  .footer_socials,
  .footer_links {
    margin-top: 20px;
  }
}
