@media (max-width: 1100px) {
  .menu_list_item {
    border: none;
  }
}

@media (max-width: 882px) {
  .menu_list_link {
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    background: rgba($color: #000000, $alpha: 0.8);
    width: 60%;
    height: 100vh;
    text-align: center;
    transition: 0.8s all;
    &_active {
      right: 0;
    }
  }
  .menu_list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &_item {
      padding: 0;
      margin: 10px 0;
    }
    &_link {
      font-size: 16px;
    }
  }
  .header_top {
    padding: 20px 0;
  }
  .subheader {
    margin-top: 40px;
  }
  .burger {
    width: 26px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 10px;
    div {
      width: 100%;
      height: 3px;
      background: #fff;
      margin-bottom: 4px;
      transition: 0.5s all;
    }
    &_active {
      div {
        margin-bottom: -3px;
        &:nth-child(1) {
          transform: rotate(-45deg) translate(-2px, 8px);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(45deg) translate(8px, 2px);
        }
      }
    }
  }
  .promo {
    padding: 140px 0 50px;
  }
  .promo_title {
    font-size: 38px;
  }
  .promo_subtitle {
    font-size: 22px;
  }
  .promo_text {
    font-size: 13px;
    &_bottom {
      margin-bottom: 46px;
    }
  }
  .btn {
    font-size: 13px;
    padding: 10px 12px;
    margin: 0;
  }
}

@media (max-width: 670px) {
  .promo {
    padding: 140px 0 35px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_right {
    flex-direction: column;
  }
  .subheader_call_text {
    display: none;
  }
  .subheader_number {
    font-size: 16px;
    margin-left: 28px;
  }
  .promo_title {
    font-size: 33px;
  }
  .promo_subtitle {
    font-size: 20px;
  }
  .promo_text_bottom {
    margin-bottom: 22px;
  }
}

@media (max-width: 490px) {
  .header_logo_img {
    max-width: 200px;
  }
  .promo {
    padding: 170px 0 35px;
  }
  .promo_title {
    width: 265px;
  }
  .promo_subtitle {
    width: 270px;
    margin: 30px auto;
  }
  .promo_text {
    display: none;
  }
  .btn {
    padding: 16px 24px;
  }
  .btn_mini {
    font-size: 12px;
    padding: 5px 8px;
  }
}

@media (max-width: 403px) {
  .header_logo_img {
    max-width: 130px;
  }
  .subheader_number {
    font-size: 12px;
  }
}