@media (max-width: 800px) {
  .reasons_items {
    justify-content: center;
  }
}

@media (max-width: 750px) {
  .reasons_items {
    justify-content: center;
  }
  .reasons_item {
    flex-direction: column;
  }
  .reasons_item_circle {
    margin-bottom: 22px;
  }
}
