.conditions {
  padding: 66px 0 87px;
}

.conditions_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1.6;
}

.conditions_item {
  width: 480px;
  margin-top: 33px;
  &:nth-last-child(-n + 2) {
    .conditions_item_title {
      color: #ff5656;
    }
    .conditions_item_list {
      li {
        &::before {
          background: url(../../icons/check_red.png);
        }
      }
    }
  }
}

.conditions_item_title {
  color: $main-color;
  font-size: 22px;
}

.conditions_item_list {
  list-style: none;
  font-size: 17px;
  font-weight: 300;
  margin-top: 20px;
  li {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 21px;
      height: 20px;
      top: 3px;
      left: -35px;
      background: url(../../icons/check_blue.png);
    }
  }
}

.conditions_item_text {
  margin-top: 25px;
  font-size: 17px;
  color: $main-color;
}
