.footer {
  background: #fff;
  padding: 30px;
}

.line {
  width: 300px;
  height: 7px;
  background: #1fbad6;
  margin: 0 auto;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_socials {
  display: flex;
}

.footer_social {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #070716;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  span {
    color: #fff;
  }
}

.footer_menu {
  width: 400px;
  text-align: center;
  margin-left: 135px;
}

.footer_menu_list {
  list-style: none;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer_menu_link {
    color: #070716;
  }
}

.footer_menu_list_bottom {
  font-size: 11px;
  .footer_menu_link {
    color: #999;
  }
}

.language {
  font-size: 11px;
  font-weight: 300;
  color: $main-color;
  text-transform: uppercase;
}

.footer_link_img {
  width: 90px;
}
