.map {
    height: 720px;
    background: #080816 url(../img/world_bg.png) center center/contain no-repeat ;
    position: relative;
    padding-top: 46px;
    text-align: center;
}

.map_link {
    color: $main-color;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    transform: translateX(-50%);
    bottom: 0;
    left: 50%;
    margin-bottom: 40px;
}

.map_subtitle {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
}