.reasons {
    padding: 19px 0 65px;
}

.reasons_items {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reasons_item {
    display: flex;
    align-items:center;
    margin-bottom: 26px;
    min-height: 150px;
    &:nth-child(2n) {
        .reasons_item_text {
            width: 340px;
        }
    }
}

.reasons_item_circle {
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
}

.reasons_item_text {
    width: 371px;
    /* height: 100%;
    align-self: flex-start; */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    margin-left: 20px;
    
}

.reasons_item_title {
    font-size: 17px;
    font-weight: 400;
    color: #1EACC7;
}

.reasons_item_paragraph {
    font-size: 15px;
    font-weight: 300;
    color: #000;
}